@model IEnumerable<IUDApplication.Models.Product>
<h1>Products</h1>

<a asp-action="Insert">New Product</a>
@*<form class="form-inline" asp-action="/Product/index">
    <label for="Search">Search</label>
    <input type="search" class="form-control" id="search" name="search" placeholder="Search by Product Name" value="@ViewBag.search" />
    <button type="submit" class="btn btn-primary">Go</button>
</form>*@

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>ProductId</td>
            <td>ProductName</td>
            <td>CategoryName</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.ActiveOrNot)
                </td>
                <td>
                    @Html.ActionLink("Update", "Update", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        <tr>
            <td colspan="9">
                @{
                    int PrevPageNo = ViewBag.PageNo - 1;
                    if (PrevPageNo <= 0)
                    {
                        PrevPageNo = 1;
                    }
                    int NextPageNo = ViewBag.PageNo + 1;
                    if (NextPageNo > ViewBag.NoOfPages)
                    {
                        NextPageNo = ViewBag.NoOfPages;
                    }
                }
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="/Product/index?PageNo=@PrevPageNo">Prev</a>
                    </li>
                    @for (int i = 0; i < ViewBag.NoOfPages; i++)
                    {
                        if ((i + 1) == ViewBag.PageNo)
                        {
                            <li class="page-item active">
                                <a class="page-link" href="/Product/index?PageNo=@(i+1)">@(i+1)</a>
                            </li>
                        }
                        else
                        {
                            <li class="page-item">
                                <a class="page-link" href="/Product/index?PageNo=@(i+1)">@(i+1)</a>
                            </li>
                        }
                    }
                    <li class="page-item">
                        <a class="page-link" href="/Product/index?PageNo=@NextPageNo">Next</a>
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>